.page-body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.viz {
    display: inline-block;
    position: relative;
    width: 80%;
    left: 15%;
    vertical-align: top;
    /* overflow: hidden; */
}

.center-container {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background {
    fill: none;
    /* fill: #8693AB; */
    pointer-events: all;
}

#state-borders {
    fill: none;
    stroke: #212227; /* BOUNDARIES */
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    fill: #8693ab; /* NON-SELECTED */
    stroke: #212227; /* BOUNDARIES */
    stroke-width: 1px;
}

.selected {
    stroke: #00c500 !important;
    stroke-width: 3px !important;
}

.slider-tick-text {
    fill: #a1a8af;
    text-anchor: end;
}

.parameter-value {
    fill: #ffffff;
    text-anchor: end;
}

.tooltip {
    background: rgba(70, 70, 70, 0.9);
    padding: 5px;
}

.tooltip > div {
    color: white;
}

.area-top {
    display: inline-block;
    position: relative;
    background-color: #203647;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
}

.area-bottom {
    display: inline-block;
    position: fixed;
    background-color: #203647;
    /* overflow: hidden; */
    left: 15%;
    right: 0;
    bottom: 0;
    height: 10%;
}

.area-sidebar {
    display: inline-block;
    position: absolute;
    background-color: #12232E;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
}

/* Dark Blue: #12232E */
/* Lighter Blue: #007CC7 */
/* Lightest Blue: #4DA8DA */
/* Shadow of Dark Blue: #203647 */
/* Shadow of Light Blue: #EEFBFB */
