.background {
    fill: none;
    pointer-events: all;
}

#state-borders {
    fill: none;
    stroke: #212227; /* BOUNDARIES */
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    fill: #8693ab; /* NON-SELECTED */
    stroke: #212227; /* BOUNDARIES */
    stroke-width: 1px;
}

.selected {
    stroke: #00c500 !important;
    stroke-width: 3px !important;
}

.slider-tick-text {
    fill: #232425;
    text-anchor: end;
}

.parameter-value {
    fill: #000000;
    text-anchor: end;
}

.tooltip {
    background: rgba(70, 70, 70, 0.9);
    padding: 5px;
}

.tooltip > div {
    color: white;
}
